html,
body {
  block-size: 100%;
  font-family: sans-serif;
}

body {
  display: grid;
  place-content: start center;
  margin: 20px 0 0;
  background-color: #fff;
}

/* ③横幅いっぱいのカルーセルの個別CSS */

body {
  display: block;
  padding: 0;
  margin: 0;
}

/* ----------------------*
 * カルーセル
 * ---------------------- */
.carousel {
  display: grid;
  grid-template-rows: 100%; /* 子要素の画面の高さにあわせる */
  grid-auto-columns: 100%;

  /* アイテムを横並びにする */
  grid-auto-flow: column;
  height: var(--height);
  overflow: hidden;
  overflow-x: auto;

  /* 基準にするため、アンカー名を指定 */
  anchor-name: --carousel;

  /* X方向にスナップ */
  scroll-snap-type: x mandatory;

  /* 1度に1枚ずつ移動 */
  scroll-snap-stop: always;

  /* スムーズにスクロールさせる */
  scroll-behavior: smooth;

  /* インジケーターの表示 */
  scroll-marker-group: after;
  scrollbar-width: none;

  --height: 100%;

  /* スクロールバー非表示（Chrome、Safari） */
  &::-webkit-scrollbar {
    display: none;
  }

  /* 前へ・次へボタン */
  &::scroll-button(*) {
    position: absolute;
    top: anchor(center);
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 0;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s, color 0.2s;

    /* カルーセルの位置を基準にする */
    position-anchor: --carousel;
  }

  /* ホバー時スタイル */
  &::scroll-button(*):not(:disabled):hover {
    color: #fff;
    cursor: pointer;
    background-color: black;
  }

  &::scroll-button(*):disabled {
    color: lightgray;
  }

  /* 前へボタン */
  &::scroll-button(left) {
    left: calc(anchor(left) + 40px);

    /* コンテンツ / 代替テキスト */
    content: "◀" / "前へ";
  }

  /* 次へボタン */
  &::scroll-button(right) {
    right: calc(anchor(right) + 40px);

    /* コンテンツ / 代替テキスト */
    content: "▶" / "次へ";
  }
}

/* ----------------------*
 * カルーセルの画像アイテム
 * ---------------------- */
.item {
  width: 100%;
  height: var(--height);
  scroll-snap-align: center;
  transition: 0.3s ease-out;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (width < 600px) {
  .carousel {
    &::scroll-button(*) {
      top: calc(anchor(bottom) - 60px);
    }

    &::scroll-button(left) {
      left: calc(anchor(left) + 16px);
    }

    &::scroll-button(right) {
      right: calc(anchor(right) + 16px);
    }
  }
}
